# ==========================
# Machine Learning Datasets
# ==========================
04_Machine_Learning/datasets/

# Large Power BI Dashboard
05_Business_Intelligence/*.pbix

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# SQLite
*.sqlite

# Temporary files
*.tmp
# Large datasets
04_Machine_Learning/datasets/
01_Data_Engineering/01_Dataset/paysim_raw.csv

# Power BI
05_Business_Intelligence/*.pbix